<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Students</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>

</head>
<body>
<div>
<h1>Add Student</h1>
	<form action="#" th:action="@{/save}" th:object="${stud}"
		method="post">
		<table class="table table-striped table-hover table-bordered table-sm ">
			<tr>
				<td><label th:text='fName'/></label></td>
				<td><input type="text" th:field="*{fName}" /></td>
			</tr>
			<tr>
				<td><label th:text='lName'/></label></td>studentRepo
				<td><input type="text" th:field="*{lName}" /></td>
			</tr>
			<tr>
				<td><label th:text='email'/></label></td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td><label th:text='phone'/></label></td>
				<td><input type="text" th:field="*{phone}" /></td>
			</tr>
			<tr>
				<td><label th:text='adddress' /></label></td>
				<td><input type="text" th:field="*{address}" /></td>
			</tr>
			
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>